<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprendimientos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Emprendimientos</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>RUN (clickable)</th>
                        <th>Nombre Emprendimiento</th>
                        <th>RUT</th>
                        <th>Razón Social</th>
                        <th>Nombre Representante</th>
                        <th>Correo Electrónico</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Provincia</th>
                        <th>Comuna</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emprendimiento in emprendimientos %}
                    <tr>
                        <td><a href="{{ url_for('profile', run=emprendimiento[1]) }}">{{ emprendimiento[1] }}</a></td>
                        <td>{{ emprendimiento[3] }}</td>
                        <td>{{ emprendimiento[2] }}</td>
                        <td>{{ emprendimiento[4] }}</td>
                        <td>{{ emprendimiento[5] }}</td>
                        <td>{{ emprendimiento[6] }}</td>
                        <td>{{ emprendimiento[7] }}</td>
                        <td>{{ emprendimiento[8] }}</td>
                        <td>{{ emprendimiento[9] }}</td>
                        <td>{{ emprendimiento[10] }}</td>
                        <td class="status-cell">
                            <span class="circle {% if emprendimiento[11] == 'si' %}green{% elif emprendimiento[11] == 'error' %}yellow{% else %}red{% endif %}"></span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
